{% extends 'shortner/base.html' %}

{% block content %}
<div class="container my-4">
  <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="url">Enter the URL</label>
        <input type="text" class="form-control" name="url" id="url" placeholder="Enter your URL">
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    {% if url %}
    <h3>URL: {{url}}</h3>
    {% endif %}
    {% if slug %}
    <h3>Sort URL: <a href="{{slug}}">{{slug}} </a></h3>
    {% endif %}
    {% if urls %}
    {% for data in urls %}
    <h3>{{forloop.counter}}: {{data.original_url}} | {{data.slug}} | {{data.expired}} | {{data.created_at}}</h3>

    {% endfor %}

    {% else %}
    <center><h3>You dont have any short url</h3></center>
    {% endif %}
</div>
{% endblock %}